doctype html
html
    head
        link(href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet")
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    body
        div.border-t-2.border-gray-200.mt-3.clear-both.h-full.max-w-7xl.my-0.mx-auto.border-solid
            header
                nav.flex.justify-between
                    div#kv.w-40.bg-gray-200.text-6xl kv
                    - const token = actoken
                    - const _name = name
                    if token
                        div #{_name} 님 환영합니다!
                    else
                        form(method="post")
                            ul.inline-block.pt-3
                                li.inline-block.pr-6 아이디 &nbsp;
                                    input#input(type="text", name="id").mr-4.bg-white.rounded-lg.placeholder-gray-400.text-gray-900.appearance-none.inline-block.shadow-md
                                li.inline-block.pr-6 비밀번호 &nbsp;
                                    input#input(type="text", name="pw").mr-4.bg-white.rounded-lg.placeholder-gray-400.text-gray-900.appearance-none.inline-block.shadow-md
                                li.inline-block.mr-4
                                    div
                                        button#btn(type="submit", formaction="/api/login/loginSuccess").bg-blue-500.text-white.font-bold.py-2.px-4.rounded 로그인
                                li.inline-block
                                    div
                                        a#btn.bg-blue-500.text-white.font-bold.py-2.px-4.rounded.block(href='/api/join') 회원가입
                    form
                        ul.inline-block.pt-4.text-xs
                            li.inline-block.text-white.mr-2
                                button#btn(type="submit" , formaction="/api/myPage").bg-blue-500.text-white.font-bold.py-2.px-4.rounded 마이페이지
                            li.inline-block.text-white.mr-2
                                button#btn(type="submit" , formaction="/").bg-blue-500.text-white.font-bold.py-2.px-4.rounded 고객센터
                            if token
                                li.inline-block.text-white.mr-2
                                    button#btn(type="submit" , formaction="/api/logout").bg-blue-500.text-white.font-bold.py-2.px-4.rounded 로그아웃
            main
                div.clear-both
                    div.w-40.float-left
                        ul
                            li
                                a#text_hover(href="/api/posts/") 자유 게시글
                            li
                                a#text_hover(href="/api/game/") 게임 게시글
                            li 텍스트
                            li 텍스트
                            li 텍스트
                            li 텍스트
                    div.float-left.h-full.max-w-3xl.border-t-2.border-gray-200.border-solid
                        div
                            img(src="/banner.jpg", alt="배너")
                        div.max-w-3xl.border-solid.border-gray-200.px-4.py-2.clear-both.text-center
                            div.float-left.w-72.pl-4.border.border-gray-300
                                div 인기 게시글
                                ul.text-xs.mt-2
                                    li
                                        a#text_hover(href="#") 텍스트텍스트
                                    li
                                        a#text_hover(href="#") 텍스트텍스트
                                    li
                                        a#text_hover(href="#") 텍스트텍스트
                                    li
                                        a#text_hover(href="#") 텍스트텍스트
                                    li
                                        a#text_hover(href="#") 텍스트텍스트
                            div.float-right.w-72.pr-4.border.border-gray-300
                                div 텍스트텍스트
                                ul.text-xs.mt-2
                                    li
                                        a#text_hover(href="#") 텍스트텍스트
                                    li
                                        a#text_hover(href="#") 텍스트텍스트
                                    li
                                        a#text_hover(href="#") 텍스트텍스트
                                    li
                                        a#text_hover(href="#") 텍스트텍스트
                                    li
                                        a#text_hover(href="#") 텍스트텍스트
                        div.clear-both.px-6.py-4
                            div.float-left.w-60.py-3.pl-3.h-80.relative
                                div.pb-6.border-t-2
                                div.border.border-gray-300.absolute.left-8
                                    img(src="/fashion.jpg", alt="배너")
                                div.absolute.bottom-6.left-7
                                    a#text_hover(href="#") 텍스트텍스트텍스트텍스트
                            div.float-right.w-96.border-t-2.mt-3.pt-5
                                ul.mt-8.text-sm.text-center.leading-7
                                    li
                                        a#text_hover(href="#") 텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트
                                    li
                                        a#text_hover(href="#") 텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트
                                    li
                                        a#text_hover(href="#") 텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트
                                    li
                                        a#text_hover(href="#") 텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트
                                    li
                                        a#text_hover(href="#") 텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트
                                    li
                                        a#text_hover(href="#") 텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트
                    div.border-l-2.border-gray-200.float-left.h-full.chatW
                        h1.bg-gradient-to-r.bg.from-purple-100.to-gray-200.p-16.text-4xl.font-bold 채팅창
                        div.p-16.space-y-8
                            div#chats.bg-gray-100.p-2 채팅 목록
                                form#form.space-x-4.flex
                                    input#input.flex-1.border.border-gray-200.p-4.rounded(placeholder="채팅을 입력해 보세요.")
                                    button#send.bg-blue-600.text-white.p-2.rounded 보내기
            footer.border-t-2.border-gray-200
        script(src="/homePage.js")
        script(src="/post.js")
        script(src="/chat.js")
