html 
    head 
        link(href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet")
    body 
        div.border-2
            div.m-20.w-120.text-center.text-3xl.font-bold hello
                div.text-xl 
                    button.m-6.border-4.w-40.inline-block
                        a(href = '/api/login')='로그인'
                    button.m-6.border-4.w-40.inline-block
                        a(href = '/api/join')='회원가입'
