html
    head
        link(href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet")
    body
        div
            header
                nav.flex.justify-between
                    div#kv.w-40.bg-gray-400.text-6xl kv
                    form
                        ul.inline-block.pt-4
                            li.inline-block.text-white.mr-2
                                button(type="submit" , formaction="/api/myPage").border.border-black.bg-blue-700.rounded-md.py-1.px-2 마이페이지
                            li.inline-block.text-white.mr-2
                                button(type="submit" , formaction="/api/join").border.border-black.bg-blue-700.rounded-md.py-1.px-2 장바구니
                            li.inline-block.text-white.mr-2
                                button(type="submit" , formaction="/api/join").border.border-black.bg-blue-700.rounded-md.py-1.px-2 고객센터
                            li.inline-block.text-white.mr-2
                                button(type="submit" , formaction="/api/join").border.border-black.bg-blue-700.rounded-md.py-1.px-2 로그아웃
            main

            footer