html
    head
        link(href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet")
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    body#body
        div.text-center.relative.w-full.h-full.absolute.top-0.left-0.text-6xl
            div.inline-block.align-middle.p-5.border.border-black.bg-purple-50 로그인이 필요한 페이지입니다
                <br/><br/>
                a.border.border-black.bg-blue-700.rounded-2xl.text-white.px-1(href="/")="돌아가기"
                div.inline-block
            div.inline-block.w-0.h-full.align-middle
        script(src="/notAccess.js")