doctype html
html
    head
        link(href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet")
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    body
        div.border-t-2.border-gray-200.mt-3.clear-both.h-full.max-w-7xl.my-0.mx-auto.border-solid
            header
                nav.flex.justify-between
                    div#kv.w-32.bg-gray-200.text-4xl
                        a(href="/")
                            img(src="/logo.png", alt="")
                    - const token= acToken
                    - const _name= name
                    - const _id = id
                    if token
                        div #{_name} 님 환영합니다!
                    else
                        form(method="post")
                            ul.inline-block.pt-3
                                li.inline-block.pr-6 아이디 &nbsp;
                                    input#input(type="text", name="id").mr-4.bg-white.rounded-lg.placeholder-gray-400.text-gray-900.appearance-none.inline-block.shadow-md
                                li.inline-block.pr-6 비밀번호 &nbsp;
                                    input#input(type="text", name="pw").mr-4.bg-white.rounded-lg.placeholder-gray-400.text-gray-900.appearance-none.inline-block.shadow-md
                                li.inline-block.mr-4
                                    div
                                        button#btn(type="submit", formaction="/api/login/loginSuccess").bg-blue-500.text-white.font-bold.py-2.px-4.rounded 로그인
                                li.inline-block
                                    div
                                        a#btn.bg-blue-500.text-white.font-bold.py-2.px-4.rounded.block(href='/api/join') 회원가입
                    form
                        ul.inline-block.pt-4.text-xs
                            li.inline-block.text-white.mr-2
                                button#btn(type="submit" , formaction="/api/myPage").bg-blue-500.text-white.font-bold.py-2.px-4.rounded 마이페이지
                            li.inline-block.text-white.mr-2
                                button#btn(type="submit" , formaction="/").bg-blue-500.text-white.font-bold.py-2.px-4.rounded 고객센터
                            if token
                                li.inline-block.text-white.mr-2
                                    button#btn(type="submit" , formaction="/api/logout").bg-blue-500.text-white.font-bold.py-2.px-4.rounded 로그아웃
            main
                - const _posts= posts
                div.clear-both
                    div.w-40.border-r-2.border-gray-200.float-left.h-full.border-solid
                        ul
                            li
                                a#text_hover(href="/api/posts/") 자유 게시글
                            li
                                a#text_hover(href="/api/game/") 게임 게시글
                            li 텍스트
                            li 텍스트
                            li 텍스트
                            li 텍스트
                    div.float-left.h-full.max-w-3xl.border-t-2.border-gray-200.border-solid.w-full.max-w-2xl.border-r-2.border-l-2
                        div#post_title.text-center.pt-16 자유게시글
                            form(action="/api/posts" method="post").p-10.text-right
                                div.form-group
                                    label(for="title").block.text-left.pt-14 &emsp;제목
                                    input#newPost(type="text", name='title', value='').px-3.py-2.text-gray-700.border.rounded-lg.w-full.max-w-2xl
                                    input(type="hidden", name="postTitle", value="any")
                                div.form-group.pb-16
                                    label(for="body").block.text-left.pt-16 &emsp;본문
                                    textarea#newPost(type="text" name="body",  rows="5").px-3.py-2.text-gray-700.border.rounded-lg.w-full.max-w-2xl
                                div.pb-6 작성자 :&nbsp;
                                    span#writer(data-writer= _id)
                                    input(type="hidden", name="writer" value=_id)
                                div.inline-block.mr-4
                                    a#btn.bg-blue-500.text-white.font-bold.py-2.px-4.rounded.block(href="/api/posts") 돌아가기
                                div.inline-block
                                    button#btn.bg-blue-500.text-white.font-bold.py-2.px-4.rounded.block(type="submit") 등록
                    div.h-60.w-4.float-left
                    div.float-left.h-full.w-80.pt-16
                        div#chatWrap.w-80.border.border-gray-300.rounded-md
                            h1#chatHeader.h-16.text-center.text-2xl.pt-4.font-bold.border-b.border-gray-300 채팅창
                            div#chats.h-96.overflow-y-auto.p-2.rounded-md
                            form#form.block.w-full.h-12.border-2.border-red-50.rounded-md
                                input#chatInput.h-10.px-1.border-none.outline-none.rounded-md(type="text" autocomplete="off" size="30" placeholder="채팅을 입력해 보세요.")
                                input#chatId(type="hidden", name="id" value=_id)
                                button#chatSend.inline-block.bg-none.text-blue-500 보내기
            footer.border-t-2.border-gray-200
        script(src="/homePage.js")
        script(src="/post.js")
        script(src="/postWriter.js")
        script(src="/chat.js")

