doctype html
html
    head
        link(href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet")
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    body
        - const token= acToken
        - const _name= name
        - const _id = id
        div(class="bg-gray-50 font-sans leading-normal tracking-normal")
            nav(id='header', class="fixed w-full z-10 top-0")
                div(id="progress" class="h-1 z-20 top-0" style="background:linear-gradient(to right, #4dc0b5 var(--scroll), transparent 0);")
                div(class="w-full md:max-w-7xl mx-auto flex flex-wrap items-center justify-between mt-0 py-3")
                    div(class="pl-4")
                        a(class="text-gray-900 text-base no-underline hover:no-underline font-extrabold text-xl" href="/") SooLog
                    //- div(class="block lg:hidden pr-4")
                    //-     button(id="nav-toggle" class="flex items-center px-3 py-2 border rounded text-gray-500 border-gray-600 hover:text-gray-900 hover:border-green-500 appearance-none focus:outline-none")
                    //-         svg(class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg")
                    //-             title SooLog
                    //-             path(d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z")
                    if token
                        ul(class="list-reset lg:flex justify-end flex-1 items-center")
                            div(class="inline-block py-2 px-4 text-gray-900 font-bold no-underline") #{_name} 님 환영합니다!
                            li(class="mr-3")
                                a(class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline" href="/api/myPage") 마이페이지
                            li(class="mr-3")
                                a(class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline" href="/api/logout") 로그아웃
                    else
                        ul(class="list-reset lg:flex justify-end flex-1 items-center")
                            li(class="mr-3")
                                a(class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline" href="/api/login") 로그인
                            li(class="mr-3")
                                a(class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline" href="/api/join") 회원가입
                    div(class="w-full flex-grow lg:flex lg:items-center lg:w-auto lg:block mt-2 lg:mt-0 bg-gray-100 md:bg-transparent z-20" id="nav-content")
                        ul(class="list-reset lg:flex justify-end flex-1 items-center")
                            li(class="mr-3")
                                a(class="inline-block py-2 px-4 text-gray-900 no-underline" href="/") 홈
                            li(class="mr-3")
                                a(class="inline-block text-gray-600 no-underline font-bold hover:text-gray-900 hover:text-underline py-2 px-4" href="/api/posts/") 자유게시글
                            li(class="mr-3")
                                a(class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline py-2 px-4" href="/api/game/") 게임게시글
                            li(class="mr-3")
                                a(class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline py-2 px-4" href="#") IT 기사
                            li(class="mr-3")
                                a(class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline py-2 px-4" href="#") link
            main
                - const _posts= posts
                div(class="container w-full md:max-w-7xl mx-auto pt-28")
                    div.w-40.border-r-2.border-gray-200.float-left.h-full.border-solid
                        ul
                            li
                                a#text_hover(href="/api/posts/") 자유 게시판
                            li
                                a#text_hover(href="/api/game/") 게임 게시판
                            li 텍스트
                            li 텍스트
                            li 텍스트
                            li 텍스트
                    div.float-left.h-full.max-w-3xl.border-t-2.border-gray-200.border-solid.w-full.max-w-2xl.border-r-2.border-l-2
                        div#post_title.text-center.pt-16.font-bold 자유게시판
                            form(action="/api/posts" method="post").p-10
                                div.form-group
                                    label(for="title").block.text-left.pt-14 &emsp;제목
                                    input#newPost(type="text", name='title', value='').px-3.py-2.text-gray-700.border.rounded-lg.w-full.max-w-2xl
                                    input(type="hidden", name="postTitle", value="any")
                                div.form-group.pb-16
                                    label(for="body").block.text-left.pt-16 &emsp;본문
                                    textarea#newPost(type="text" name="body",  rows="5").px-3.py-2.text-gray-700.border.rounded-lg.w-full.max-w-2xl
                                div.pb-6.text-right.font-normal 작성자 :&nbsp;
                                    span#writer(data-writer= _id)
                                    input(type="hidden", name="writer" value=_id)
                                div.inline-block.mr-4
                                    a(class="block md:inline-block appearance-none bg-green-500 text-white text-base font-semibold tracking-wider uppercase rounded shadow hover:bg-green-400 py-2 px-4",href="/api/posts") 돌아가기
                                div.inline-block
                                    button(type="submit", class="block md:inline-block appearance-none bg-green-500 text-white text-base font-semibold tracking-wider uppercase rounded shadow hover:bg-green-400 py-2 px-4") 등록
                    div.h-60.w-4.float-left
                    div.float-left.h-full.w-80.pt-16
                        div#chatWrap.w-80.border.border-gray-300.rounded-md
                            h1#chatHeader.h-16.text-center.text-2xl.pt-4.font-bold.border-b.border-gray-300 채팅창
                            div#chats.h-96.overflow-y-auto.p-2.rounded-md
                            form#form.block.w-full.h-12.border-2.border-red-50.rounded-md
                                input#chatInput.h-10.px-1.border-none.outline-none.rounded-md(type="text" autocomplete="off" size="30" placeholder="채팅을 입력해 보세요.")
                                input#chatId(type="hidden", name="id" value=_id)
                                button#chatSend.inline-block.bg-none.text-green-500 보내기
            footer.border-t-2.border-gray-200
        script(src="/homePage.js")
        script(src="/post.js")
        script(src="/postWriter.js")
        script(src="/chat.js")

